<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %X{transactionId} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set Hibernate log level to WARN -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO"/>

    <!-- Set Spring log level to INFO -->
    <logger name="org.springframework" level="INFO"/>

    <logger name="epam.lab.gymapp" level="DEBUG"/>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>